%tr
	%td
		%br
%tr
	%td.pic
		= image_tag(harvester.photo.url(:icon), :html => { :border => 0 })
	%td
		= h link_to harvester.name, harvester_path(harvester)
		= h "by #{harvester.user} (#{harvester.price} ArmadaBucks)"
		%br
		.desc{:id => "desc#{harvester.id}"}
			= h truncate(harvester.description, :length => 50)
			= more_link(harvester)
	%td.links
		= link_to image_tag('icon_small_show.png', :border => 0 ), harvester_path(harvester)