%tr
	%td
		= image_tag(harvester.photo.url(:icon), :html => { :border => 0 })
	%td
		=h harvester.name
		by
		=h harvester.user
		(
		= harvester.price
		ArmadaBucks )
	%td
		= link_to image_tag('icon_small_show.png'), harvester_path(harvester), :align => :right
		= link_to image_tag('icon_small_edit.png'), edit_harvester_path(harvester)
		= link_to image_tag('icon_small_delete.png'), :confirm => 'Are you sure?', :method => :delete
%tr
	%td
	%td
		= h truncate(harvester.description, :length => 40)