- content_for :title do
	Administration Home


%h2 Administration - Viewing all Harvesters
= "#{pluralize(@harvesters.count, "harvester")} as of #{Time.now.strftime("%b. %d, %Y")}"
= link_to 'New', register_path
%p
	= harvesters_list(@harvesters)